#logo{
	background-color: blue;
}
#header{
	background-color: black;
}
#footer{
	background-color: black;
	bottom: 0px;
    height: 50px;
    left: 0;
    position: absolute;
    right: 0;
}

footer-blubs(@radius: 5px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}